# Exclude folders
/auto-save-list/*
/elpa/*
/straight/*
/server/*
/transient/*
/eshell/*
/fonts/*
/ico/*
/url/*
/eln-cache/*
/package-repos/*

# Exclude files
*~
bookmarks
chdka-custom.el
chdka-emacs.el
chdka-nlc-emacs.elc
/chdka-lisp/test-chdka-literate-config.el
recentf
