# Exclude folders
/auto-save-list/*
/elpa/*
/straight/*
/server/*
/transient/*
/eshell/*
/fonts/*
/ico/*


# Exclude files
*~
bookmarks
chdka-custom.el
chdka-emacs.el
/chdka-lisp/test-chdka-literate-config.el
recentf
